.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}

.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
  flex-grow:1;
}

.header__center {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 999px;
  max-width: fit-content;
}

.search_input {
  border: none;
  padding: 10px;
  outline-width: 0;
  flex:1;
  /* width: 250px; */
}

.date_range{
  margin-left: 10px;
}

.nombre_invite{
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nombre_invite > input{
  border: 1px solid lightgray;
  border-radius: 999px;
  height: 25px;
  max-width: 90px;
  text-align: center;
  margin-left: 3px;
}

.nombre_invite > label{
font-size: x-small;
}

.search_button {
  margin-left: 50px;
  background-color: #fd3333;
  color: white;
  border-radius: 999px;
  color: #fd7133;
}

.search_button:hover {
  color: #fd7133;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}

.header__right > button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  transition: 0.4s;
}

.signup_button{
  background-color: #fd7133;
  color: white;
}

.login_button{
  background-color: rgb(151, 150, 150);
  color: white;
}

.signup_button:hover {
  color: white;
  background-color: #b74413;
}
.login_button:hover {
  color: white;
  background-color: rgb(37, 37, 37);
}

.hote_button{
  background-color: rgb(255, 255, 255);
  color: rgb(40, 40, 40);
}

.hote_button:hover {
  background-color: rgb(199, 194, 194);
  color: rgb(40, 40, 40);
}
